In [37]:
import pandas as pd
import numpy as np

In [38]:
# fazer regressor do dados_rotacao.csv
df = pd.read_csv('dados_rotacao.csv')
df.head()

               x              y             z  atencao
0  [-0.03062876]   [0.01234632]  [0.10522266]        1
1  [-0.05021764]  [-0.00344829]  [0.05206432]        1
2  [-0.04414475]   [0.00757144]  [0.04588152]        1
3   [-0.0391862]   [0.01703393]  [0.07674838]        1
4  [-0.03136803]   [0.01653976]  [0.04938307]        1

In [39]:
# retirar os [] das colunas x, y e z
df['x'] = df['x'].str.replace('[', '')
df['y'] = df['y'].str.replace('[', '')
df['z'] = df['z'].str.replace('[', '')

df['x'] = df['x'].str.replace(']', '')
df['y'] = df['y'].str.replace(']', '')
df['z'] = df['z'].str.replace(']', '')

# converter as colunas x, y e z para float
df['x'] = df['x'].astype(float)
df['y'] = df['y'].astype(float)
df['z'] = df['z'].astype(float)

# converter a coluna atencao para int
df['atencao'] = df['atencao'].astype(int)

print(df.head())

          x         y         z  atencao
0 -0.030629  0.012346  0.105223        1
1 -0.050218 -0.003448  0.052064        1
2 -0.044145  0.007571  0.045882        1
3 -0.039186  0.017034  0.076748        1
4 -0.031368  0.016540  0.049383        1

In [40]:
# separar os dados de treino e teste
from sklearn.model_selection import train_test_split

X = df[['x', 'y', 'z']]
y = df['atencao']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [41]:
X_train.head()

           x         y         z
67  0.221544  0.033244  0.239346
1  -0.050218 -0.003448  0.052064
21 -0.012444  0.045520 -0.013153
0  -0.030629  0.012346  0.105223
32  0.022915  0.016190 -0.374180

In [42]:
# testar com xgbooost
from xgboost import XGBClassifier

xgb = XGBClassifier()

xgb.fit(X_train, y_train)

predictions = xgb.predict(X_test)

# print the accuracy
from sklearn import metrics

print("Accuracy:", metrics.accuracy_score(y_test, predictions))

[21:56:32] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Accuracy: 1.0

c:\Users\alexa\anaconda3\envs\py36\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

In [43]:
# salvar o modelo
import pickle

pickle.dump(xgb, open('model.pkl', 'wb'))

In [46]:
# carregar o modelo
model = pickle.load(open('model.pkl', 'rb'))

values = np.array([[0.0, 0.0, 0.0]])

columns = ['x', 'y', 'z']

df = pd.DataFrame(values, columns=columns)
# testar o modelo
print(model.predict(df))

[1]